
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
}
body {
  overflow-y: scroll !important;
}
html,
body {
  /* overflow-x: hidden; */
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
/* 
/* Hide the default scrollbar */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 3px;
}

/* On hover, make the thumb a bit larger */
*::-webkit-scrollbar-thumb:hover {
  background-color: #d8d6d6;
}

/* Show the scrollbar when scrolling */
*::-webkit-scrollbar-thumb:vertical {
  min-height: 20px;
}

/* Add a little shadow to the scrollbar */
*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
} *

/* html , body {
  overflow-x: hidden;
} */

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* overflow-x: hidden; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.ff_league {
  font-family: 'League Spartan', sans-serif;
}

.selected-item {
  text-align: center;
}

.controls-container {
  --highlight-width: auto;
  --highlight-x-pos: 0;

  display: flex;
  margin-bottom: 20px;
}

.controls {
  display: inline-flex;
  justify-content: space-between;
  background-color: #333333;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.controls input {
  opacity: 0;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.segment {
  min-width: 120px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.segment label {
  cursor: pointer;
  display: block;
  font-weight: 500;
  padding: 10px;
  transition: color 0.5s ease;
  font-size: 18px;

}

.segment.active label {

  color: #000;

}

.controls::before {
  content: "";
  background: #01FBFB;
  border-radius: 20px;
  width: var(--highlight-width);
  transform: translateX(var(--highlight-x-pos));
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
}

.controls.ready::before {
  transition: transform 0.3s ease, width 0.3s ease;
}
  
.btn-scrollTop{
  position: fixed;
  bottom: 40px;
  
  right: 2%;
  padding: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 24px;
  display: grid;
  place-items: center;
  background-color: #717273;
  color : white;
  cursor: pointer;
  font-weight: 600;
  
}
.btn-scrollTop svg {
  position: relative;
  top : 50%;
  left : 50%;
  transform: translate(-50% , -50%);
}


.steps {
  position: relative;
display: flex;
justify-content: space-between;
width: 49px;
}

.steps .line {
  position:absolute;
  z-index: 1;
  top: 50%;
  left : 50%;
  transform: translate(-50%,-50%);
  width : 95%;
  right : 0px;
  height: 2.5px;
  background-color: #E4E4E4;
}
.step {
  height: 13px;
  width :13px;
  border-radius: 50%;
  display: block;
  position: relative;
  z-index: 4;
}
.step:first-child {
  background-color: #1C75BC;
}
.step:last-child{
  background-color: #E4E4E4;
}


.steps.active  .line  {
  background-color: #1C75BC;

}

.steps.active  .step:last-child {
  background-color: #1C75BC;

}
.video-iframe{
  height: 100%;
  width: 100%;
  display: flex;
  border: none;
}
.wrap-video {
  aspect-ratio: 0.5625;
}

.container-video{
  border-radius: 25px 25px 25px 25px;
  height: 100%;
  overflow: hidden;
    transform: translateZ(0);
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);
    max-width: 100%;
}

.phone-bg{
 
  background-image: url("/phone.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 310px;
padding: 20px;
/* margin: auto; */
}

  /* scrollbar.css start*/
  /* Track */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #cfcfcf;
  }
  /* scrollbar.css end*/
  .responsive-line1 {
    left: 85;
    width: "7%";
    height: "2px";

  }
  .border-line1{
    display: none;
  }
  .border-line2{
    display: none;
  }
  @media (max-width: 440px) {
    .responsive-line1 {
      display: none;

    }
    .responsive-line2 {
      display: none;
    }
    .border-line1{
      display: block;
    }
    .border-line2{
      display: block;
    }

  }
  .containerChat {
    max-width: 1700px; /* Para telas grandes (maior que 1700px) */
    margin: 0 auto; /* Centraliza horizontalmente */
  }

  @media (max-width: 1700px) {
    .containerChat {
      max-width: 760px;
      margin: 0 auto;/* Para telas médias (entre 760px e 1700px) */
    }
  }


  @media (max-width: 760px) {
    .containerChat {
      max-width: 440px;
      margin: 0 ;/* Para telas pequenas (menor que 760px) */
    }
  }


